**.orig
**.swp
**.war
*.bowerrc
*.rbc
*.sassc
.DS_Store
.env
.idea
.powenv
.redcar/
.rspec
.rvmrc
.sass-cache
.zeus.sock
/*.tmproj
/.bundle
/cache
/capybara*
/capybara-*.html
/config/config.yml
/config/database.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/gems
/log
/log/*
/nbproject/
/public/assets
/public/cache
/public/stylesheets/compiled
/public/system
/public/system/*
/spec/tmp
/spec/tmp/*
/specifications
/tmp
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
/vendor/bundle/
/vendor/ruby/
bower.json
capybara-*.html
db/*.sqlite3
pickle-email-*.html
rerun.txt
tags
