<a href="/"><img src="/images/logo_black.png" alt="desc" style="border:none; margin:0 15px 7px" /></a>

<div class="ten columns">
  <%= render 'shared/navigation' %>
</div>

<%#<div class="two columns">%>
  <%#<p style="margin: 6px 0">%>
    <%#<a href="#" class="button radius">Sign up!</a> <a href="#" class="button secondary radius">Log in</a>%>
  <%#</p>%>
<%#</div>%>

<div style="clear: both"></div>
