<ul id="menu-header" class="nav-bar horizontal">
  <li class="logo">
    <a href="/" style="font-weight: 900; font-size: x-large;">UGtastic</a>
  </li>

  <li class="has-flyout">
    <a href="#">Conferences</a><a href="#" class="flyout-toggle"></a>
    <ul class="flyout">
      <% @nav_conferences.each do |conference| %>
        <li class="has-flyout">
          <%= link_to "#{conference.name} #{conference.city} #{conference.year}", conference_path(conference) %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
