<div class="large-4 columns">
  <div class="panel">
    <h5><%= you_tube.title %></h5>
    <%= image_tag(you_tube.thumbnail('medium').url, size: "#{you_tube.thumbnail('medium').width}x#{you_tube.thumbnail('medium').height}", alt: you_tube.title, class: 'video_thumbnail') %>
  </div>
</div>
