<div class="large-4 columns">
  <div class="panel">
    <h5><%= you_tube.title %></h5>
    <%= image_tag(you_tube.thumbnail('medium').url, size: "#{you_tube.thumbnail('medium').width}x#{you_tube.thumbnail('medium').height}", alt: you_tube.title, class: 'video_thumbnail') %>
  </div>
</div>

<%# https://developers.google.com/youtube/youtube_player_demo %>

<!--
<iframe
  id="ytplayer"
  type="text/html"
  width="640"
  height="390"
  src="https://www.youtube.com/embed/<%= you_tube.video_id %>?cc_load_policy=1&enablejsapi=1&modestbranding=1&playsinline=1&start=10&autohide=1&color=white&theme=light&origin=<%= ENV['YOUTUBE_EMBED_ORIGIN'] %>"
  frameborder="0"
  allowfullscreen></iframe>
-->
