  <a href="index.html"><img src="images/logo_black.png" alt="desc" style="border:none; margin:0 15px 7px" /></a>
  <div class="ten columns">
    <ul id="menu-header" class="nav-bar horizontal">
      <li class=""><a href="index.html">Home</a></li>
      <li class="has-flyout">
        <a href="#">Example Pages</a><a href="#" class="flyout-toggle"></a>
        <ul class="flyout">
          <li class="has-flyout"><a href="blog.html">Blog</a></li>
          <li class="has-flyout"><a href="blog_single.html">Blog Single Page</a></li>
          <li class="has-flyout"><a href="products-page.html">Products Page</a></li>
          <li class="has-flyout"><a href="product-single.html">Product Single</a></li>
          <li class="has-flyout"><a href="pricing-table.html">Pricing Table</a></li>
          <li class="has-flyout"><a href="contact.html">Contact Page</a></li>
        </ul>
      </li>
      <li class=""><a href="galleries.html">Boxed Gallery</a></li>
      <li class=""><a href="portfolio.html">Portfolio Gallery</a></li>
      <li class=""><a href="pinterest-style.html">Pinterest Gallery</a></li>
      <li class=""><a href="tiles.html">Tiles</a></li>
    </ul>
  </div>
  <div class="two columns">
    <p style="margin: 6px 0">
      <a href="#" class="button radius">Sign up!</a> <a href="#" class="button secondary radius">Log in</a>
    </p>
  </div>
</div>
<div style="clear: both"></div>
