<a href="/"><img src="images/logo_black.png" alt="desc" style="border:none; margin:0 15px 7px" /></a>

<div class="ten columns">
  <ul id="menu-header" class="nav-bar horizontal">
    <li class=""><a href="/">Home</a></li>

    <li class="has-flyout">
      <a href="#">Conferences</a><a href="#" class="flyout-toggle"></a>
      <ul class="flyout">
        <% @nav_conferences.each do |conference| %>
          <li class="has-flyout"><a href="#"><%= conference.name %> <%= conference.city%> <%= conference.year%></a></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

<%#<div class="two columns">%>
  <%#<p style="margin: 6px 0">%>
    <%#<a href="#" class="button radius">Sign up!</a> <a href="#" class="button secondary radius">Log in</a>%>
  <%#</p>%>
<%#</div>%>

<div style="clear: both"></div>
